@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;900&display=swap');

body {
  background: linear-gradient(rgb(176, 245, 148), rgb(247, 234, 124));
  padding: 10%;
}

.align-title-center {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  color: rgb(44, 44, 44);
  margin-bottom: 50px
}

* {
  margin: 0;
  font-family: Nunito;
}

input {
  border-width: 5px 5px;
  border-radius: 10px;
  margin-bottom: 5%;
  border: dotted;
  background: transparent;
  padding: 2.5%;
}